<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login page</h1>
<form th:action="@{/login}" method="post">
    <input type="text"
           id="username"
           name="username"
           autofocus="autofocus"
           placeholder="Username">
    <input type="password"
           id="password"
           name="password"
           placeholder="Password">
    <input type="submit"
           name="login-submit"
           id="login-submit"
           value="Log In">
</form>
<a th:href="@{/user}">Register</a>
</body>
</html>